<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Friend</title>
    <link rel="stylesheet" href="{{url_for('static', filename="css/styles.css")}}">
  </head>
  <body id="edit">
    <h1>Edit Friend</h1>
    <form action="/friends/{{friend['id']}}" method="post" id="edit_friend">
      <label for="first_name">First Name: <input type="text" name="first_name" value="{{friend['first_name']}}"></label>
      <label for="last_name">Last Name: <input type="text" name="last_name" value="{{friend['last_name']}}"></label>
      <label for="email">Email: <input type="text" name="email" value="{{friend['email']}}"></label>
      <input type="submit" name="update" value="Update" id="update_button">
    </form>
  </body>
</html>
